body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    background-color: navy;
    color: white;
}

.sidebar h2 {
    margin: 0;
}

main h2 {
    margin: 0;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(0, 140, 255);
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(0, 140, 255);
    color: white;
}

nav a:hover {
    background-color: rgb(0, 140, 255);
    text-decoration: underline;
}

.current {
    color: gray
}

.mainrow {
    display: flex;
}

.sidebar {
    margin: 0;

}

.card {
    border: thin solid black;
    box-shadow: 3px 3px 5px lightgreen;
    width: 300px;
    margin: 5px;
}

.card img {
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;

}

.container {
  display: flex;
  flex-direction: row;   
  padding: 20px;
}

.table-section {
  flex: 1;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #2c3e50;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.form-row label {
    width: 150px;
    text-align: right;
}

.form-row input:not([type='submit']) {
    padding: 10px;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
}

.spacer {
    width: 150px;
    text-align: right;
}

fieldset {
    background-color: rgb(159, 159, 226);
    width: 80%;
    margin: auto;
}

legend {
    background-color: rgb(30, 30, 138);
    color: white;
    padding: 20px;
}

@media ONLY screen AND (max-width: 400px) {
    nav {
        flex-direction: column;
    }
    .mainrow {
        flex-direction: column-reverse;
    }
    .sidebar {
        width: 100%;
    }
    .main-card {
        order: -1;
    }
}

@media ONLY print {
    body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    background-color: navy;
    color: white;
}

.sidebar h2 {
    margin: 0;
}

main h2 {
    margin: 0;
}

header h1 {
    margin: 0;
}

nav {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(0, 140, 255);
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(0, 140, 255);
    color: white;
}

nav a:hover {
    background-color: rgb(0, 140, 255);
    text-decoration: underline;
}

.mainrow {
    display: flex;
}

.sidebar {
    margin: 0;

}

.card {
    border: thin solid black;
    box-shadow: 3px 3px 5px lightgreen;
    width: 300px;
    margin: 5px;
}

.card img {
    width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;

}
}