body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: green;
    background-image: url(greenbg.jpg);
    color:white
}

.current {
    color: gray
}

nav a {
    color: red
}

.list {
    list-style-image: url(dot.png);
}

header {
    background-image: url(house.jpg);
    background-position: top right;
    background-repeat: no-repeat;
}